<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/head"></head>
<body>
<header th:replace="fragment/header"></header>
<nav th:replace="fragment/sidebar"></nav>
<main>
    <h3>Add new customer</h3>
    <form th:action="@{/customers/edit}" class="form" method="post" th:object="${customer}">
        <input type="hidden" th:field="*{customerId}">
        <div class="input-box">
            <span>Name</span>
            <input type="text" th:field="*{customerName}">
        </div>
        <div class="input-box">
            <span>Birthday</span>
            <input type="text" th:field="*{customerBirthday}">
        </div>
        <div class="input-box">
            <span>Gender</span>
            <input type="text" th:field="*{customerGender}">
        </div>
        <div class="input-box">
            <span>Idcard</span>
            <input type="text" th:field="*{customerIdCard}">
        </div>
        <div class="input-box">
            <span>Phone</span>
            <input type="text" th:field="*{customerPhone}">
        </div>
        <div class="input-box">
            <span>Email</span>
            <input type="text" th:field="*{customerEmail}">
        </div>
        <div class="input-box">
            <span>Address</span>
            <input type="text" th:field="*{customerAddress}">
        </div>
        <div class="input-box">
            <span>Type</span>
            <select name="" id="" th:field="*{customerType}">
                <th:block th:each="t : ${customerTypeList}">
                    <option th:value="${t.customerTypeId}" th:text="${t.customerTypeName}"></option>
                </th:block>
            </select>
        </div>
        <div class="input-box form-action">
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>
        </div>
    </form>
</main>
</body>
<script th:replace="fragment/js"></script>
<script th:replace="~{customer/list::active-link}"></script>
</html>